:root {
  --primary-color: #212121;
  --primary-shade-color: #757575;
  --secondary-color: #ffffff;
  --secondary-shade-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-background-color: #2f303a;
  --secondary-background-color: #f5f4fa;
  --address-shade-color: rgba(255, 255, 255, 0.6);
  --primary-border-color: #ececec;
  --secondary-border-color: #eeeeee;
  --icon-color: #afb1b8;
  --client-shade-color: rgba(0, 0, 0, 0, 25);
  --backgraund-color-wrap: rgba(33, 150, 243, 0.9);
  --background-color-servis-block: rgba(47, 48, 58, 0.8);
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.section {
  padding: 94px 0;
}

body {
  background-color: var(--secondary-color);
  font-family: Roboto, sans-serif;
  color: var(--primary-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* -----------------HEADER----------------*/

.header {
  border-bottom: 1px solid var(--primary-border-color);
}
.primary-header {
  display: flex;
  align-items: center;
}

.logo-web {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.nav {
  cursor: pointer;
  margin-left: 93px;
}

.nav-list {
  display: flex;

  color: var(--primary-color);
}

.nav-list .link.current {
  color: var(--accent-color);
}

.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav-link {
  display: block;

  padding: 32px 0;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.nav-link.current::after {
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
  position: absolute;
  left: 0;
  bottom: -1px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
}

.contact-list {
  display: flex;
  margin-left: auto;
}

.contact-list .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-item {
  display: flex;
}

.contact-link {
  display: flex;
  align-items: center;
  justify-content: center;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-shade-color);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--accent-color);
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* -----------------HERO----------------- */

.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../img/hero-backgraund.svg);
  background-position: center;
}

.hero-title {
  text-align: center;
  margin: 0 auto 30px auto;

  max-width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

.primary-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--secondary-color);

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: var(--accent-color);
}

/* -----------skills----------------- */

.skills-list {
  display: flex;
  margin: 0 auto;
}

.skills-item:not(:last-child) {
  margin-right: 30px;
}

.skill-background {
  padding: 25px 100px;

  border-radius: 4px;

  background: var(--secondary-background-color);
}

.skills-icon {
  display: block;
}

.skill-title {
  margin-top: 30px;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--primary-color);
}

.skill-text {
  max-width: 270px;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--primary-shade-color);
}

/* ------------SERTVISE------------------- */

.service {
  padding-top: 0;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.service-list {
  display: flex;
}

.service-item:not(:last-child) {
  margin-right: 30px;
}
.service-block {
  position: relative;
}

.service-title-position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: var(--background-color-servis-block);
}

.service-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}

/*--------------- TEAM -----------*/

.team {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin: 0 auto;
}
.team-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-item:not(:last-child) {
  margin-right: 30px;
}

.teammate-background {
  text-align: center;
  padding: 30px 0;

  border-radius: 0px 0px 4px 4px;

  background-color: var(--secondary-color);
}

.teammate-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: var(--primary-color);
}

.teammate-position {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;

  color: var(--primary-shade-color);
}

.temmate-social-list {
  display: flex;
  justify-content: center;
}

.temmate-social-item + .temmate-social-item {
  margin-left: 10px;
}

.temmate-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;

  color: var(--icon-color);
  background-color: var(--secondary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.temmate-social-link:hover,
.temmate-social-link:focus {
  color: var(--secondary-color);
  background-color: var(--accent-color);
}

.temmate-social-icon {
  fill: currentColor;
}

/* ---------------CLIENTS------------------- */

.client-list {
  display: flex;
}

.client-item {
  flex-basis: calc(100 / 6);
}

.client-item:not(:last-child) {
  margin-right: 30px;
}

.client-link {
  display: flex;
  padding: 16px 35px;

  border: 1px solid var(--icon-color);
  border-radius: 4px;
  color: var(--icon-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.client-icon {
  fill: currentColor;
}

/* -----------------PORTFOLIO--filter-button---------------- */

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-item:not(:last-child) {
  margin-right: 8px;
}

.secondary-button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-item :hover,
.filter-item :focus,
.filter-item :active {
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  background-color: var(--accent-color);
}

.project-list {
  display: flex;
  flex-wrap: wrap;

  margin-bottom: -30px;
  margin-right: -30px;
}

.project-item {
  flex-basis: calc(100% / 3 - 30px);
  margin-bottom: 30px;
  margin-right: 30px;
}

.project-item:hover,
.project-item:focus {
  cursor: pointer;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.project-item:hover .project-text-position {
  transform: translateY(0);
}

.project-image-wrap {
  position: relative;
  overflow: hidden;
}

.project-text-wrap {
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}

.project-text-position {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 64px 24px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  transition: transform 250ms;

  background-color: var(--backgraund-color-wrap);
}

.project-backgraung {
  padding: 20px 24px;

  border: 1px solid var(--secondary-border-color);
  border-top: none;

  background-color: var(--secondary-color);
}

.project-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--primary-color);
}
.project-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--primary-shade-color);
}

/* ---------FOOTER------------------ */
.footer {
  background-color: var(--primary-background-color);
}
.social-conection {
  display: flex;
  align-items: center;
  text-align: left;

  padding: 60px 15px;
  margin: 0 auto;
}

.logo-white {
  color: var(--secondary-shade-color);
}

.address {
  margin-top: 20px;
}

.address-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--secondary-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: var(--accent-color);
}

.address-item {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: var(--address-shade-color);
}

.address-item:not(:last-child) {
  margin-bottom: 9px;
}

.contact-link-bottom {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--primary-shade-color);
}

.contact-link-bottom:hover,
.contact-link-bottom:focus {
  color: var(--accent-color);
}

.footer-social-container {
  margin-left: 70px;
}

.footer-item-title {
  margin-bottom: 20px;
  margin-right: auto;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--secondary-color);
}
.footer-social-list {
  display: flex;
}

.footer-social-item {
  width: 44px;
  height: 44px;
}

.footer-social-item + .footer-social-item {
  margin-left: 10px;
}

.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;
  border-radius: 50%;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--secondary-color);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.footer-social-icon {
  fill: currentColor;
}

.footer-user-mail {
  width: 358px;
  padding: 15px 16px;
  margin-right: 12px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));

  background-color: transparent;
}

.footer-form-box {
  margin-left: auto;
}

.footer-form {
  display: flex;
}

.footer-icon-send {
  margin-left: 10px;
  fill: currentColor;
}
/* ------------------ MODAL-------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: rgba(0, 0, 0, 0.2);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.8);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px;
  width: 528px;
  min-height: 100px;
  border-radius: 4px;

  background-color: var(--secondary-color);
}

.modal-button {
  position: absolute;
  display: flex;
  align-items: center;

  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.modal-icon-button {
  fill: var(--primary-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon-button:hover,
.modal-icon-button:focus {
  fill: var(--accent-color);
}

.modal-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 12px;

  color: var(--primary-color);
}

.input-field {
  margin-bottom: 10px;
}

.label-text {
  display: block;
  font-size: 12px;
  line-height: 1.16;

  letter-spacing: 0.01em;
  margin-bottom: 4px;
  color: var(--primary-shade-color);
}

.input-grup-absolute {
  position: relative;
}

.form-input {
  width: 100%;
  height: 40px;

  padding: 11px 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  background-color: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.user-name-icon {
  position: absolute;
  top: 50%;
  left: 3%;
  fill: var(--primary-color);
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-field {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  cursor: pointer;
}

.user-text {
  min-height: 120px;
  padding: 12px 16px;
  resize: none;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: none;
  background-color: transparent;
}

.user-text::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-input:hover + .user-name-icon,
.form-input:focus + .user-name-icon {
  fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.user-text:hover,
.user-text:focus {
  border-color: var(--accent-color);
}

.check-text {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;

  color: var(--primary-shade-color);
}

.form-check {
  visibility: hidden;
}

.check-text span {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 15px;
  border: 2px solid rgba(33, 33, 33, 1);
  border-radius: 2px;
  margin-right: 6px;
}

.checkbox-field {
  display: flex;
  margin-bottom: 30px;
}

.checkbox-field a {
  color: var(--accent-color);
}

.icon-check {
  fill: var(--secondary-color);
}

.form-check:checked + .check-text span {
  background-color: var(--accent-color);
  border: none;
}
