.footer {
  background-color: $primary-background-color;
  padding: 60px 15px;

  &__container {
    display: flex;
    align-items: center;
  }

  &__social {
    margin-left: 70px;
  }

  &__title {
    margin-bottom: 20px;
    margin-right: auto;

    @include font(700, 14px, 1.14, 0.03em);
    text-transform: uppercase;

    color: $secondary-color;
  }

  &__subscribe {
    margin-left: auto;
  }
}
