.hero {
  text-align: center;
  padding: 200px 0;
  max-width: 1600px;
  margin: 0 auto;

  background-image: linear-gradient(
      rgba($primary-background-color, 0.4),
      rgba($primary-background-color, 0.4)
    ),
    url(../img/hero-backgraund.svg);
  background-position: center;

  &__title {
    text-align: center;
    margin: 0 auto 30px auto;

    max-width: 696px;

    @include font(900, 44px, 1.36, 0.06em);
    text-transform: uppercase;

    color: $secondary-color;
  }
}
