.logo {
  font-family: Raleway;
  @include font(700, 26px, 1.19, 0.03em);

  color: $primary-color;

  .logo__primary {
    color: $accent-color;
  }
}

.logo__secondary {
  color: $secondary-shade-color;
}
