.service {
  padding-top: 0;
}

.service-list {
  display: flex;

  .service-list__item:not(:last-child) {
    margin-right: 30px;
  }

  .service-list__block {
    position: relative;
  }

  .service-list__title-overlay {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 27px;
    padding-bottom: 27px;
    background-color: $background-color-servis-block;
  }

  .service-list__title {
    text-align: center;
    @include font(700, 14px, 1.14, 0.03em);

    text-transform: uppercase;

    color: $secondary-color;
  }
}
