.service {
  padding-top: 0;
}

.service__list {
  display: flex;
}

.service__item:not(:last-child) {
  margin-right: 30px;
}

.service__block {
  position: relative;
}

.service-title-position {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  padding-top: 27px;
  padding-bottom: 27px;
  background-color: $background-color-servis-block;
}

.service__title {
  text-align: center;
  @include font(700, 14px, 1.14, 0.03em);

  text-transform: uppercase;

  color: $secondary-color;
}
