.skills__list {
  display: flex;
  margin: 0 auto;
}

.skills__item:not(:last-child) {
  margin-right: 30px;
}

.skill__background {
  padding: 25px 100px;

  border-radius: 4px;

  background: $secondary-background-color;
}

.skills__icon {
  display: block;
}

.skill__title {
  margin-top: 30px;
  margin-bottom: 10px;

  @include font(700, 14px, 1.14, 0.03em);

  text-transform: uppercase;

  color: $primary-color;
}

.skill__text {
  max-width: 270px;

  @include font(400, 14px, 1.71, 0.03em);

  color: $primary-shade-color;
}
