button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.primary-button {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;

  min-width: 200px;
  min-height: 50px;
  margin: 0 auto;
  padding: 10px 32px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: $secondary-color;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: $accent-color;
}

.secondary-button {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--primary-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
