$primary-color: #212121;
$primary-shade-color: #757575;
$primary-background-color: #2f303a;
$primary-border-color: #ececec;
$secondary-color: #ffffff;
$secondary-shade-color: #f5f4fa;
$secondary-background-color: #f5f4fa;
$secondary-border-color: #eeeeee;
$accent-color: #2196f3;
$icon-color: #afb1b8;
// $client-shade-color: rgba(0, 0, 0, 0, 25);
